@media (min-width 1200px) {
  .header {
    position: relative;
    background: url(images/banner-bg.jpg);
  }

  .nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
  }
}
